
body{
	color: #000;
	}
.opm-medium-word {
    font-size: 4vw!important;
}
#footer {
    background-image: url(images/DAMAC-properties.jpg)!important;
    background-size: cover;
}
.dark #copyrights {
    color: #fff;
}
.bg-white {
    background: #fff;
}
.col-md-6.address {
    font-size: 18px!important;
    text-align: center;
}
.icon-map-marker2 {
    font-size: 52px;
    /*margin-bottom: 25px;*/
    color: #2538c1;
}
.address>div {
    font-size: 18px;
    line-height: 1.7;
}
@media(max-width: 480px) {
    .address>div {
        font-size: 21px;
        line-height: 1.7;
    }
    .col-padding {
        padding: 15px 0px;
    }
    .emphasis-title {
        margin-left: 15px!important;
    }
    .emphasis-title h1, .emphasis-title h2 {
        font-size: 35px !important;
    }
    .opm-medium-word {
        font-size: 10vw!important;
    }
    .gmap {
        max-height: 320px;
    }
    #section-contact {
        margin-bottom: 0px!important;
        padding-bottom: 0px!important;
    }
    .divcenter .col-sm-4 {
        margin-bottom: 10px;
    }
    #copyrights .col_half:last-child {
        display: block!important;
        text-align: center!important;
        margin-top: 10px;
    }
}

.contveegaone .projectssect .sectsinglproj {
    background: #ffffff;
    margin-bottom: 20px;
}
.contveegaone .projectssect .sectsinglproj span.first.floorplansect {
    position: absolute;
    top: 0;
    left: 0;right: 0;
    display: flex;
    align-items: center;
    padding: 10px 11px;
    background: rgba(0, 0, 0, 0.62);
    bottom: initial;
}
.contveegaone .projectssect .sectsinglproj a.floorplansect {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 10px 11px;
    background: rgba(0, 0, 0, 0.62);
}
.w-100 {
    width: 100%!important;
}
.position-relative {
    position: relative!important;
}
.p-0 {
    padding: 0!important;
}
.contveegaone .projectssect .sectsinglproj .alignsect {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.contveegaone .projectssect .sectsinglproj .alignsect .sect {
    border: 1px solid #cecece;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10% 10%;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.contveegaone .projectssect .sectionfirst {
    padding: 20px 6%;
    border-bottom: 1px solid #cecece;
    display: block;
}
.contveegaone .projectssect .sectionsecond ul li {
    display: flex;
    align-items: center;
    margin-top: 17px;
}
li {
    list-style: none;
}
.contveegaone .projectssect .sectionsecond .btntwo {
    font-size: 18px;
    color: #000000;
    font-weight: 700;
    width: 100%;
    background: #fcd406;
    border-radius: 5px;
    padding: 12px 0;
    border: 0px;
    margin: 15px 0;
    cursor: pointer;
}
.h-100 {
    height: 100%;
}
.contveegaone .projectssect .sectionsecond ul li .stext {
    font-size: 20px;
    color: #333333;
    width: 95%;
    text-align: left;
    margin-left: 10px;
}
.b-tb-0 {
    border-top: 0!important;
    border-bottom: 0!important;
}
.bg {
    /*IMG-20181029-WA0011.jpg*/
    background-image: url(images/dlfimages/IMG-20181110-WA0002.jpg);
    background-size: cover;
}
.contveegaone .projectssect {
    padding: 60px 0;
}
.n-bt {
    border-top: 0!important;
}
.n-bb {
    border-bottom: 0!important;
}
.video-wrap {
    position: absolute;
    z-index: 1;
    height: 100%;
}
.video-wrap .video-overlay {
    background-color: rgba(0, 0, 0, 0.2);
}

.heading-block h1, .heading-block h2, .heading-block.h11 {
    font-size: 24px;
    color: #fff!important;
}
.h11+span.t300 {
    font-size: 16px;
    top-margin: 20px;
    color: #fff
}
.slider-bg {
    background: url('images/headerArea.jpg') top center no-repeat;
    background-size: cover;
}
.vertical-middle.dark {
    z-index: 2;
}
.uppercase {
    text-transform: uppercase;
}
.fs-17 {
    font-size: 17.6px;
}
.h41 {
    font-size: 20.8px;
    margin: 0
}
.h51 {
    font-size: 18.4px;
    margin: 0
}
.font-body {
    max-width: 700px;
    font-size: 21px;
}
p.lead {
    max-width: 800px;
}
iframe {
    border: 0;
    width: 100%;
    height: 100%;
}
.special-attraction {
    display: flex;
    justify-content: center;
}
@media (min-width: 768px) {
    .lead {
        font-size: 18px;
    }
    .i-xlarge.i-plain {
        width: auto!important;
        height: auto!important;
        font-size: 96px;
    }
}
@media (max-width: 768px) {
    .i-xlarge.i-plain {
        width: auto!important;
        height: auto!important;
        font-size: 46px;
    }
}
.i-xlarge.i-plain {
    color: #8BC34A;
}
h5.my-1 {
    margin-top: 10px;
}
.ulone {
    margin-top: 30px;
    color: #fff;
    text-align: center;
}
/* For Firefox */

input[type='number'] {
    -moz-appearance: textfield;
}
/* Webkit browsers like Safari and Chrome */

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
@media(max-width: 767px) {
    #footer .col_full {
        margin-bottom: 0px!important
    }
}
.clr-fff {
    color: #fff;
}

 .amenities .slideronesect .slidesect {
    background: #fff;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto
}
 .amenities .slideronesect .slidesect .imgsect {
    width: 100px;
    margin: 0 auto;
    margin-bottom: 22px
}
 .amenities .slideronesect .slidesect h4 {
    font-size: 18px;
    color: #000000;
    text-align: center;
    width: 90%;
    margin: 0 auto
}
.amenities p,.amenities h2{
	color: #000!important
}

.sectionlast {
    background: url(images/dlfimages/about-1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 45px 0;
}

.specialattraction ul {display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;}
.specialattraction ul li{
	margin: 1%;
	font-size: 16px;font-weight: bold;
	text-align: center;
	border-radius: 50%;background: #fff;
	display: flex;
	align-content: center;align-items: center;
}
@media(min-width: 768px){
	.specialattraction ul li{
		width: 18%;
		-webkit-box-flex: 0;
    -ms-flex: 0 0 18%;
    flex: 0 0 18%;
    max-width: 18%;
    padding: 50px 20px;
	}
}
@media(max-width: 767px){
	.specialattraction ul li{
		width: 48%;
		-webkit-box-flex: 0;
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    max-width: 48%;
    padding: 30px 20px;
	}
}

.heading-block {
    margin-bottom: 30px;
}
.lione{
	font-size: 12.8px;
}

.litwo{
	font-size: 18.4px;
}
.fs-13-6{
	font-size: 13.6px;
}

.floorplansect{
	 bottom: initial; font-size: 12.8px;
}
.floorplansect span{
	font-size: 13.6px;color: #fff;
}


@font-face {
  font-family: 'CormorantGaramond-SemiBold';
  src: url('font/CormorantGaramond-SemiBold.eot?#iefix') format('embedded-opentype'),  url('font/CormorantGaramond-SemiBold.woff') format('woff'), url('font/CormorantGaramond-SemiBold.ttf')  format('truetype'), url('font/CormorantGaramond-SemiBold.svg#CormorantGaramond-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
	font-family: 'Lato', sans-serif !important;
}


h1, h2, h3, h4, h5, h6{
	font-family: 'Lato', sans-serif !important;
}

.contveegaone .projectssect, .section{
	background-image: url(images/bg.jpg);
	background-repeat: repeat;
}

.logoArea{
	padding-top: 36px;
	max-width: 1560px;
	width: 100%;
	height: auto !important;
	padding-bottom: 100px;
}


.formArea{
	background-image: url(images/formBg.png);
	background-repeat: repeat;
	margin-top: 0px !important;
	top: 0 !important;
	height: 800px !important;
	margin-right: 110px;
	position: relative !important;
	float: right;
	border-radius: 10px;
}

.formArea .heading-block1{
	margin-bottom: 25px !important;
}

.formArea .heading-block1 h2{
	font-size: 28px;
	color: #000 !important;
	 font-family: 'Lato', sans-serif;
	font-weight: 300;
	letter-spacing: -0.5px;
	text-transform: uppercase;
	text-align: center;
}

.formArea .heading-block1 h2 span{
	font-size: 26px;
	color: #000 !important;
	font-weight: 800;
	display: block;
}

.formArea .col-padding{
	padding: 50px;
}

.formArea .sm-form-control{
	border: 2px solid #ffca58 !important;
	border-radius: 8px !important;
	height: 51px;
}
.formArea textarea.sm-form-control{
	height: 125px;
}


.formArea  .form-control.error, .formArea .sm-form-control.error {
    border-color: #E42C3E !important;
}

.slider-bg .vertical-middle{
	position: relative !important;
	top: 0 !important;
	margin-top: 0px !important;
}
form .col_full, form .col_half, form .col_one_third, form .col_two_third, form .col_three_fourth, form .col_one_fourth, form .col_one_fifth, form .col_two_fifth, form .col_three_fifth, form .col_four_fifth, form .col_one_sixth, form .col_five_sixth {
    margin-bottom: 12px !important;
}

.button.button-dark{
	font-size: 19px;
	color: #fff;
	background-color: #128f03;
	border-radius: 27px;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 14px;
	padding-bottom: 14px;
	font-weight: 600 !important;
	height: auto;
	line-height: normal;
}


.formArea .button.button-3d{
	font-size: 17px !important;
	font-weight: 700 !important;
	border-radius: 30px;
	background-color: #000;
	padding-top: 15px;
	padding-bottom: 13px;
	height: auto !important;
	line-height: normal !important;
	margin-top: 10px !important;
}
.formArea .button.button-3d i{
	margin-right: 15px;
}

.headerLeft{
	padding-left: 300px !important;
}
.headerLeft .headerCaption {
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
	border: 4px solid;
	border-color: rgb(255,255,255,0.45);
	text-align: center;
	border-radius: 10px;
	padding-left: 30px;
	padding-right: 30px;
}

.headerLeft .headerCaption img{
	margin-bottom: -20px;
}


.headerLeft .headerCaption h3{
	font-size: 21px;
	color: #fff;
	background-color: #128f03;
	border: 3px solid #108003;
	border-radius: 27px;
	display:inline-block;
	padding-left: 33px;
	padding-right: 33px;
	padding-top: 7px;
	padding-bottom: 7px;
	top: -28px;
	position: relative;
	margin-bottom: 5px;
}

.headerLeft .headerCaption h2{
	color: #000;
	font-size:40px;
	line-height: 44px;
	 font-family: 'CormorantGaramond-SemiBold' !important;
	text-transform: uppercase;
}

.headerLeft .headerCaption h2 span{
	color: #128f03 !important;
	font-family: 'Lato', sans-serif !important;
	font-size:44px;
}

.full-screen h1 {
    color: #fff !important;
    font-size: 19px;
    padding: 10px 15px;
	text-transform: uppercase;
	font-weight: 500;
	border-radius: 30px;
	max-width: 605px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 50px;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,9a9a9a+100 */
background: #000000; /* Old browsers */
background: -moz-linear-gradient(left, #000000 0%, #9a9a9a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #000000 0%,#9a9a9a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #000000 0%,#9a9a9a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#9a9a9a',GradientType=1 ); /* IE6-9 */
}

.full-screen h1 span{
    color: #fff !important;
}

.hShape{
	background-image: url(images/header_shape.png);
	background-repeat: repeat;
	background-position: center top;
	height: 230px;
	margin-top: -230px;
	z-index: 2;
	position: relative;
}

.heading-block{
	margin-bottom: 50px;
}
.specialattraction .heading-block {
    margin-bottom: 35px;
}

.heading-block h4 {
    font-size: 45px;
     font-family: 'CormorantGaramond-SemiBold' !important;
	text-transform: uppercase;
	letter-spacing: -0.5px;
	max-width: 630px;
	margin-left: auto;
	margin-right: auto;
	line-height: normal !important;
}
.heading-block span{
	font-size: 24px !important;
	color: #949494 !important;
	font-weight: 500 !important;
}

.heading-block hr{
	max-width: 457px;
	border-color: #e5e3e3;
	margin-top: 25px;
	margin-bottom: 25px;
}

.amenities .heading-block hr{
	max-width: 253px;
	border-color: #d99305;
}
.amenities .heading-block{
	margin-bottom: 0px;
}
.viewsArea .heading-block h4 {
	max-width: 800px;
}
.viewsArea .row{
	margin-bottom: 25px;
}
.specicicationArea .heading-block hr{
	max-width: 291px;
}

.sectionlast .heading-block{
	margin-bottom: 30px;
}
.sectionlast .heading-block h4{
	margin-left: 0;
	margin-right: 0;
}

.sectionlast .heading-block span{
	color: #128f03 !important;
}

.sectionlast .heading-block hr{
	margin-left: 0;
	border-color: #eee9ad;
	max-width: 327px;
}


.one-page-arrow{
	position: relative;
	float: none;
	left: 0 !important;
	margin-left: 0px !important;
	margin-right: 0px;
	bottom: 0;
	margin-top: -0px;
}
.downArrow{
	text-align: center;
	margin-right: 110px;
	float: right;
	margin-top: -180px;
	width: 100%;
	display: block;
}



.contveegaone .projectssect .sectsinglproj{
	padding: 44px;
	border-radius: 10px;
	
	-webkit-box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.06);
-moz-box-shadow:    0px 0px 65px 0px rgba(0, 0, 0, 0.06);
box-shadow:         0px 0px 65px 0px rgba(0, 0, 0, 0.06);
}

.firstSection{
	margin-top: -30px;
}

.videoArea .embed-responsive{
	border: 10px solid #f9e994;
	border-radius: 10px;
	
	-webkit-box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.06);
-moz-box-shadow:    0px 0px 65px 0px rgba(0, 0, 0, 0.06);
box-shadow:         0px 0px 65px 0px rgba(0, 0, 0, 0.06);
	margin-bottom: 35px;
}
.amenities {
    padding: 65px 0 70px 0;
    background: #fcc200;
	background-image: url(images/amenitiesBg.jpg);
	background-repeat: repeat;
}
.slideronesect{
	position: relative;
}
.arrowsforslide1 .slick-arrow{
	position: absolute;
	top: 40%;
	z-index: 9;
	cursor: pointer;
}
.arrowsforslide1 .prev.slick-arrow{
	left: 0;
}
.arrowsforslide1 .next.slick-arrow{
	right: 0;
}
.sliderone{
	padding-left: 70px;
	padding-right: 70px;
}

.specialattraction ul li{
	background-color: #ebebeb;
	color: #6a6a6a;
	font-size: 17px;
	font-weight: 500;
	height: 206px;
}

.sectionlast{
	padding-top: 70px;
	padding-bottom: 70px;
	background-image:url(images/riversideBG.jpg);
	background-repeat: repeat;
	background-size: auto;
}

.sectionlast .lead {
	font-size: 16px !important;
}



.special-attraction .col-md-3 {
    width: 20%;
}

.specicicationArea .bottommargin {
    margin-bottom: 65px !important;
}

.specicicationArea .heading-block{
	margin-bottom: 30px;
}


.mapArea{
	padding-left: 0px;
	padding-right: 0px;
	width: 100% !important;
}

.mapArea iframe{
	height: 460px !important;
	margin-bottom: -5px;
}

.mapArea .address{
	position: absolute;
	border-radius: 10px;
	background-color: #fff;
	max-width: 333px;
	padding-top: 20px;
	padding-bottom: 40px;
	margin-top: 50px;
	right: 15px;
	width: 100%;
	color: #000000;
	font-size: 19px;
	font-weight: 600;
	
	-webkit-box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.06);
-moz-box-shadow:    0px 0px 65px 0px rgba(0, 0, 0, 0.06);
box-shadow:         0px 0px 65px 0px rgba(0, 0, 0, 0.06);
}
.mapArea .address a{
	color: #128f03;
}

.mapArea .address .button.button-dark{
	font-size: 14px;
	color: #fff !important;
	margin-top: 30px;
}
.mapArea address {
	margin-bottom: 20px;
}
.mapArea .address .icon-map-marker2{
    font-size: 43px;
}

.fullWidth{
	width: 100% !important;
}
.stretched #gotoTop {
    bottom: 140px;
}




@media (max-height: 740px) { 
	
	.logoArea {
    padding-top: 15px;
    padding-bottom: 40px;
}
	
	.full-screen h1 {
    font-size: 17px;
    max-width: 535px;
    margin-top: 40px;
	}
	
	.formArea .sm-form-control {
    height: 35px;
}
	.formArea textarea.sm-form-control {
    height: 80px;
}
	
	.formArea .button.button-3d {
    font-size: 15px !important;
	}
	
	form .col_full, form .col_half, form .col_one_third, form .col_two_third, form .col_three_fourth, form .col_one_fourth, form .col_one_fifth, form .col_two_fifth, form .col_three_fifth, form .col_four_fifth, form .col_one_sixth, form .col_five_sixth {
    margin-bottom: 7px !important;
}
	
	.formArea .heading-block1 {
    margin-bottom: -10px !important;
}
	
	.headerLeft .headerCaption{
		max-width: 580px;
	}
	
	.headerLeft .headerCaption h2 {
    font-size: 35px;
    line-height: 40px;
	}
	
	.headerLeft .headerCaption h3 {
    font-size: 18px;
	}
	
	.downArrow {
    margin-top: -130px;
	}
	.formArea .heading-block1 h2 span {
    font-size: 22px;
}
	
	
	
	
}



/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) { 
	
.formArea{
	max-width: 495px;
	}
		
	.mapArea .address{
		right: 15%;
	}
	
.downArrow{
	max-width: 495px;
}

	.sectionlast .roundImage img{
	max-width: 520px;
}
	
}


@media (min-width: 1199px) and (max-width: 1570px) { 
		.headerLeft {
    padding-left: 15px !important;
}
	
	.formArea{
		margin-right: 0px;
	}
	
		.formArea .heading-block1 h2 span {
    font-size: 27px;
	}
	
		.heading-block h4 {
    font-size: 38px;
	}
	
	
	.heading-block span {
    font-size: 20px !important;
	}
	
.downArrow{
	margin-right: 0px;
	margin-top: -130px;
}
	
	
	
	
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) { 

	.heading-block h4 {
    font-size: 38px;
	}
	
	
	.heading-block span {
    font-size: 20px !important;
	}
	

		.headerLeft {
    padding-left: 15px !important;
}
	
	.formArea{
		margin-right: 0px;
		
	}
	
	
	.formArea .heading-block1 h2 span {
    font-size: 24px;
	}
	
	
	.formArea .col-padding {
    padding: 35px;
}
	
	
	.headerLeft .headerCaption h2 {
    font-size: 34px;
    line-height: 38px;
	}
	
	
	
	.headerLeft .headerCaption {
    padding-left: 20px;
    padding-right: 20px;
}
	
	.downArrow{
	margin-right: 0px;
		margin-top: -140px;
}
	
	.specialattraction ul li {
    height: 170px;
}
	

	.sectionlast{
		text-align: center;
		    padding-top: 50px;
    padding-bottom: 45px;
	}
	.sectionlast .text-justify {
    text-align: center;
		margin-left: auto;
		margin-right: auto;
}
	
	.sectionlast .col-lg-8{
		width: 100%;
	}
	
	.sectionlast .col-lg-4.roundImage{
		width: 100%;
		text-align: center;
		margin-top: 15px;
	}
	
	.sectionlast .heading-block h4{
		margin-left: auto;
		margin-right: auto;
	}
	
	.sectionlast .heading-block hr{
		margin-left: auto;
	}
	
	
	
}


@media (min-width: 1030px) and (max-width: 1199px) { 
	
		.sliderone {
    padding-left: 10px;
    padding-right: 10px;
}
	
	.arrowsforslide1 .slick-arrow{
		max-width: 40px;
	}
	
	.arrowsforslide1 .prev.slick-arrow {
		left: -30px;
	}
	
	.arrowsforslide1 .next.slick-arrow {
		right: -30px;
	}
	
	
}



/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) { 

	
		.specialattraction ul li {
    height: 120px;
			padding-left: 10px;
			padding-right: 10px;
			font-size: 13px;
}
	
	.amenities {
    padding: 55px 0 60px 0;
		
	}
	
		
		.heading-block h4 {
    font-size: 35px;
	}
	
	
	.heading-block span {
    font-size: 20px !important;
	}
	
	
	.headerLeft {
    padding-left: 15px !important;
}
	
	.formArea{
		max-width: 445px;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	
	
		.downArrow{
	max-width: 445px;
		float: none;
		margin-left: auto;
		margin-right: auto;
			margin-top: -127px;
}
		.downSection .row{
		display: block;
	}
	
	
	.formArea .heading-block1 h2 span {
    font-size: 24px;
	}
	
	
	.formArea .col-padding {
    padding: 35px;
}
	
	
	.headerLeft .headerCaption h2 {
    font-size: 34px;
    line-height: 38px;
	}
	
	
	
	.headerLeft .headerCaption {
    padding-left: 20px;
    padding-right: 20px;
}
	
	
	.slider-bg .row{
		display: block;
	}
	

	.logoArea {
    padding-top: 20px;
    padding-bottom: 50px;
}
	
	.full-screen h1 {
    font-size: 17px;
    max-width: 535px;
    margin-top: 40px;
	}
	
	
	.formArea .sm-form-control {
    height: 40px;
}
	.formArea textarea.sm-form-control {
    height: 90px;
}
	
	form .col_full, form .col_half, form .col_one_third, form .col_two_third, form .col_three_fourth, form .col_one_fourth, form .col_one_fifth, form .col_two_fifth, form .col_three_fifth, form .col_four_fifth, form .col_one_sixth, form .col_five_sixth {
    margin-bottom: 8px !important;
}
	
	
	.formArea .heading-block1 {
    margin-bottom: 0px !important;
}
	
	
	.headerLeft .headerCaption h3 {
    font-size: 19px;
    top: -27px;
}
	
	
	.contveegaone .projectssect {
    padding: 40px 0;
}
	
	
	
		.sectionlast{
		text-align: center;
		    padding-top: 50px;
    padding-bottom: 45px;
	}
	.sectionlast .text-justify {
    text-align: center;
		margin-left: auto;
		margin-right: auto;
}
	
	.sectionlast .col-lg-8{
		width: 100%;
	}
	
	.sectionlast .col-lg-4.roundImage{
		width: 100%;
		text-align: center;
		margin-top: 15px;
	}
	
	.sectionlast .heading-block h4{
		margin-left: auto;
		margin-right: auto;
	}
	
	.sectionlast .heading-block hr{
		margin-left: auto;
	}
	
	
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 768px) {

		.sectionlast{
		text-align: center;
		    padding-top: 50px;
    padding-bottom: 45px;
	}
	.sectionlast .text-justify {
    text-align: center;
		margin-left: auto;
		margin-right: auto;
}
	
	.sectionlast .col-lg-8{
		width: 100%;
	}
	
	.sectionlast .col-lg-4.roundImage{
		width: 100%;
		text-align: center;
		margin-top: 15px;
	}
	
	.sectionlast .heading-block h4{
		margin-left: auto;
		margin-right: auto;
	}
	
	.sectionlast .heading-block hr{
		margin-left: auto;
	}
	
	
	
			.specialattraction ul li {
    height: 260px;
}
	

		.amenities {
    padding: 45px 0 50px 0;
		
	}
	
	.sliderone {
    padding-left: 40px;
    padding-right: 40px;
}
	
	.arrowsforslide1 .slick-arrow{
		max-width: 45px;
	}
	
	.arrowsforslide1 .prev.slick-arrow {
		left: -7px;
	}
	
	.arrowsforslide1 .next.slick-arrow {
		right: -7px;
	}
	
	
	.bottommargin-lg {
    margin-bottom: 60px !important;
}
	
	
	
	.container, #header.full-header .container, .container-fullwidth {
    width: 100% !important;
		max-width: 570px;
}
	
	.viewsArea .row{
	margin-bottom: 0px;
		display: block;
}
	
	
	.viewsArea .row iframe{
		margin-bottom: 15px;
	}
	
		.heading-block h4 {
    font-size: 35px;
	}
	
	
	.heading-block span {
    font-size: 20px !important;
	}
	
	.headerLeft {
    padding-left: 15px !important;
}
	
		.downSection{
		display: none;
	}
	
	.formArea{
		max-width: 445px;
		float: none;
		margin-left: auto;
		margin-right: auto;
		height: auto !important;
		margin-bottom: 70px;
	}
	
			.downArrow{
	max-width: 445px;
		float: none;
		margin-left: auto;
		margin-right: auto;
			margin-top: -127px;
}
		.downSection .row{
		display: block;
	}
	
	
	
	
	.formArea .heading-block1 h2 span {
    font-size: 24px;
	}
	
	
	.formArea .col-padding {
    padding: 35px;
}
	
	
	.headerLeft .headerCaption h2 {
    font-size: 33px;
    line-height: 37px;
	}
	
	
	
	.headerLeft .headerCaption {
    padding-left: 20px;
    padding-right: 20px;
}
	
	
	.slider-bg .row{
		display: block;
	}
	
	.logoArea {
    padding-top: 20px;
    padding-bottom: 50px;
		text-align: center;
}
	
	.full-screen h1 {
    font-size: 17px;
    max-width: 535px;
    margin-top: 40px;
	}
	
	
	.formArea .sm-form-control {
    height: 40px;
}
	.formArea textarea.sm-form-control {
    height: 90px;
}
	
	.formArea .button.button-3d {
    font-size: 15px !important;
	}
	
	form .col_full, form .col_half, form .col_one_third, form .col_two_third, form .col_three_fourth, form .col_one_fourth, form .col_one_fifth, form .col_two_fifth, form .col_three_fifth, form .col_four_fifth, form .col_one_sixth, form .col_five_sixth {
    margin-bottom: 8px !important;
}
	
	
	.formArea .heading-block1 {
    margin-bottom: 0px !important;
}
	
	
	.headerLeft .headerCaption h3 {
    font-size: 19px;
    top: -27px;
}
	
	.slider-bg .vertical-middle {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}
	
	.contveegaone .projectssect {
    padding-top: 45px;
		padding-bottom: 45px;
}
	
	.contveegaone .projectssect .sectsinglproj {
    padding: 20px;
	}
	
	
	.heading-block {
    margin-bottom: 35px;
}
	
	
	.section {
    padding: 45px 0;
	}
	
	
	.button.button-dark {
    font-size: 18px;
	}
	
	
	.hShape{
		display: none;
	}
		
}


/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) { 
	
	
	.hShape{
		display: none;
	}
	
	.address>div {
    font-size: 18px;
	}
	
	.special-attraction .col-md-3 {
    width: 35%;
}
	
		.button.button-dark {
    font-size: 16px;
			
	padding-left: 30px;
    padding-right: 30px;
    padding-top: 13px;
    padding-bottom: 13px
	}
	
		.sectionlast{
		text-align: center;
		    padding-top: 40px;
    padding-bottom: 40px;
	}
	.sectionlast .text-justify {
    text-align: center;
		margin-left: auto;
		margin-right: auto;
}
	
	.sectionlast .col-lg-8{
		width: 100%;
	}
	
	.sectionlast .col-lg-4.roundImage{
		width: 100%;
		text-align: center;
		margin-top: 15px;
	}
	
	.sectionlast .heading-block h4{
		margin-left: auto;
		margin-right: auto;
	}
	
	.sectionlast .heading-block hr{
		margin-left: auto;
	}
	
	
	
		.section {
    padding: 45px 0;
	}
	
				.specialattraction ul li {
    height: 220px;
}
	

	
		.amenities {
    padding: 45px 0 50px 0;
		
	}
	
	.sliderone {
    padding-left: 0px;
    padding-right: 0px;
}

	
		.bottommargin-lg {
    margin-bottom: 60px !important;
}
	
	
		.heading-block {
    margin-bottom: 35px;
}

	
.contveegaone .projectssect .sectsinglproj {
    padding: 20px;
	}
	.container, #header.full-header .container, .container-fullwidth {
    width: 100% !important;
		max-width: 570px;
}
	
	.contveegaone .projectssect {
    padding-top: 35px;
		padding-bottom: 35px;
}
	
	
	.viewsArea .row{
	margin-bottom: 0px;
		display: block;
}
	
		.viewsArea .row iframe{
		margin-bottom: 15px;
	}
	
		.heading-block h4 {
    font-size: 30px;
	}
	
	
	.heading-block span {
    font-size: 19px !important;
	}
	
	
	.headerLeft {
    padding-left: 15px !important;
}
	
	.formArea{
		max-width: 445px;
		float: none;
		margin-left: auto;
		margin-right: auto;
		height: auto !important;
		margin-bottom: 70px;
	}
	
	
	.downSection{
		display: none;
	}
				.downArrow{
	max-width: 445px;
		float: none;
		margin-left: auto;
		margin-right: auto;
			margin-top: -127px;
}
		.downSection .row{
		display: block;
	}
	
	
	
	.formArea .heading-block1 h2 span {
    font-size: 20px;
	}
	
	
	.formArea .col-padding {
    padding: 28px;
}
	
	
	.headerLeft .headerCaption h2 {
    font-size: 28px;
    line-height: 34px;
	}
	
	
	
	.headerLeft .headerCaption {
    padding-left: 15px;
    padding-right: 15px;
}
	
	
	.slider-bg .row{
		display: block;
	}
	
	.logoArea {
    padding-top: 20px;
    padding-bottom: 50px;
		text-align: center;
}
	
	.full-screen h1 {
    font-size: 17px;
    max-width: 535px;
    margin-top: 40px;
	}
	
	
	.formArea .sm-form-control {
    height: 40px;
}
	.formArea textarea.sm-form-control {
    height: 90px;
}
	
	.formArea .button.button-3d {
    font-size: 15px !important;
	}
	
	form .col_full, form .col_half, form .col_one_third, form .col_two_third, form .col_three_fourth, form .col_one_fourth, form .col_one_fifth, form .col_two_fifth, form .col_three_fifth, form .col_four_fifth, form .col_one_sixth, form .col_five_sixth {
    margin-bottom: 8px !important;
}
	
	
	.formArea .heading-block1 {
    margin-bottom: -10px !important;
}
	
	
	.headerLeft .headerCaption h3 {
    font-size: 18px;
    top: -27px;
}
	
	.slider-bg .vertical-middle {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}


 }

@media (max-width: 485px) { 
		
.specialattraction ul li {
    height: 170px;
}
	
}