
body{
	color: #000;
	}
.opm-medium-word {
    font-size: 4vw!important;
}
#footer {
    background-image: url(images/DAMAC-properties.jpg)!important;
    background-size: cover;
}
.dark #copyrights {
    color: #fff;
}
.bg-white {
    background: #fff;
}
.col-md-6.address {
    font-size: 18px!important;
    text-align: center;
}
.icon-map-marker2 {
    font-size: 52px;
    /*margin-bottom: 25px;*/
    color: #2538c1;
}
.address>div {
    font-size: 18px;
    line-height: 1.7;
}
@media(max-width: 480px) {
    .address>div {
        font-size: 21px;
        line-height: 1.7;
    }
    .col-padding {
        padding: 15px 0px;
    }
    .emphasis-title {
        margin-left: 15px!important;
    }
    .emphasis-title h1, .emphasis-title h2 {
        font-size: 35px !important;
    }
    .opm-medium-word {
        font-size: 10vw!important;
    }
    .gmap {
        max-height: 320px;
    }
    #section-contact {
        margin-bottom: 0px!important;
        padding-bottom: 0px!important;
    }
    .divcenter .col-sm-4 {
        margin-bottom: 10px;
    }
    #copyrights .col_half:last-child {
        display: block!important;
        text-align: center!important;
        margin-top: 10px;
    }
}
@media(min-width: 960px) {
    .full-screen.col-md-4.col-sm-6 {
        border-right: 50px solid rgb(191, 231, 255)
    }
}
.contveegaone .projectssect .sectsinglproj {
    background: #ffffff;
    margin-bottom: 20px;
}
.contveegaone .projectssect .sectsinglproj span.first.floorplansect {
    position: absolute;
    top: 0;
    left: 0;right: 0;
    display: flex;
    align-items: center;
    padding: 10px 11px;
    background: rgba(0, 0, 0, 0.62);
    bottom: initial;
}
.contveegaone .projectssect .sectsinglproj a.floorplansect {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 10px 11px;
    background: rgba(0, 0, 0, 0.62);
}
.w-100 {
    width: 100%!important;
}
.position-relative {
    position: relative!important;
}
.p-0 {
    padding: 0!important;
}
.contveegaone .projectssect .sectsinglproj .alignsect {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.contveegaone .projectssect .sectsinglproj .alignsect .sect {
    border: 1px solid #cecece;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10% 10%;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.contveegaone .projectssect .sectionfirst {
    padding: 20px 6%;
    border-bottom: 1px solid #cecece;
    display: block;
}
.contveegaone .projectssect .sectionsecond ul li {
    display: flex;
    align-items: center;
    margin-top: 17px;
}
li {
    list-style: none;
}
.contveegaone .projectssect .sectionsecond .btntwo {
    font-size: 18px;
    color: #000000;
    font-family: Montserrat-Bold;
    width: 100%;
    background: #fcd406;
    border-radius: 5px;
    padding: 12px 0;
    border: 0px;
    margin: 15px 0;
    cursor: pointer;
}
.h-100 {
    height: 100%;
}
.contveegaone .projectssect .sectionsecond ul li .stext {
    font-size: 20px;
    color: #333333;
    font-family: Montserrat-Medium;
    width: 95%;
    text-align: left;
    margin-left: 10px;
}
.b-tb-0 {
    border-top: 0!important;
    border-bottom: 0!important;
}
.bg {
    /*IMG-20181029-WA0011.jpg*/
    background-image: url(images/dlfimages/IMG-20181110-WA0002.jpg);
    background-size: cover;
}
.contveegaone .projectssect {
    background: #d5d5d5;
    padding: 60px 0;
}
.n-bt {
    border-top: 0!important;
}
.n-bb {
    border-bottom: 0!important;
}
.video-wrap {
    position: absolute;
    z-index: 1;
    height: 100%;
}
.video-wrap .video-overlay {
    background-color: rgba(0, 0, 0, 0.2);
}
.full-screen {
    background-color: #ffae00!important;
}
.heading-block h1, .heading-block h2, .heading-block.h11 {
    font-size: 24px;
    color: #fff!important;
}
.h11+span.t300 {
    font-size: 16px;
    top-margin: 20px;
    color: #fff
}
.slider-bg {
    background: url('images/dlfimages/IMG-20181110-WA0001.jpg') top right no-repeat;
    background-size: cover;
}
.vertical-middle.dark {
    z-index: 2;
}
.uppercase {
    text-transform: uppercase;
}
.fs-17 {
    font-size: 17.6px;
}
.h41 {
    font-size: 20.8px;
    margin: 0
}
.h51 {
    font-size: 18.4px;
    margin: 0
}
.font-body {
    max-width: 700px;
    font-size: 21px;
}
p.lead {
    max-width: 800px;
}
iframe {
    border: 0;
    width: 100%;
    height: 100%;
}
.special-attraction {
    display: flex;
    justify-content: center;
}
@media (min-width: 768px) {
    .lead {
        font-size: 18px;
    }
    .i-xlarge.i-plain {
        width: auto!important;
        height: auto!important;
        font-size: 96px;
    }
}
@media (max-width: 768px) {
    .i-xlarge.i-plain {
        width: auto!important;
        height: auto!important;
        font-size: 46px;
    }
}
.i-xlarge.i-plain {
    color: #8BC34A;
}
h5.my-1 {
    margin-top: 10px;
}
.ulone {
    margin-top: 30px;
    color: #fff;
    text-align: center;
}
/* For Firefox */

input[type='number'] {
    -moz-appearance: textfield;
}
/* Webkit browsers like Safari and Chrome */

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
@media(max-width: 767px) {
    #footer .col_full {
        margin-bottom: 0px!important
    }
}
.clr-fff {
    color: #fff;
}
.full-screen h1 {
    position: absolute;
    bottom: 20%;
    color: #000;
    margin: 0 30px;
    font-size: 26px;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px 15px;
}
.full-screen h1 span, .full-screen h1 span span {
    color: #000!important;
}
.amenities {
    padding: 45px 0 45px 0;
    background: #fcc200
}
 .amenities .slideronesect .slidesect {
    background: #fff;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto
}
 .amenities .slideronesect .slidesect .imgsect {
    width: 100px;
    margin: 0 auto;
    margin-bottom: 22px
}
 .amenities .slideronesect .slidesect h4 {
    font-size: 18px;
    color: #000000;
    text-align: center;
    width: 90%;
    margin: 0 auto
}
.amenities p,.amenities h2{
	color: #000!important
}

.sectionlast {
    background: url(images/dlfimages/about-1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 45px 0;
}

.specialattraction ul {display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;}
.specialattraction ul li{
	margin: 1%;
	font-size: 16px;font-weight: bold;
	text-align: center;
	border-radius: 50%;background: #fff;
	display: flex;
	align-content: center;align-items: center;
}
@media(min-width: 768px){
	.specialattraction ul li{
		width: 18%;
		-webkit-box-flex: 0;
    -ms-flex: 0 0 18%;
    flex: 0 0 18%;
    max-width: 18%;
    padding: 50px 20px;
	}
}
@media(max-width: 767px){
	.specialattraction ul li{
		width: 48%;
		-webkit-box-flex: 0;
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    max-width: 48%;
    padding: 30px 20px;
	}
}

.heading-block {
    margin-bottom: 30px;
}
.lione{
	font-size: 12.8px;
}

.litwo{
	font-size: 18.4px;
}
.fs-13-6{
	font-size: 13.6px;
}

.floorplansect{
	 bottom: initial; font-size: 12.8px;
}
.floorplansect span{
	font-size: 13.6px;color: #fff;
}
@media(max-width: 468px){
	.slider-bg.full-screen{height: 180px!important;}
	.slider-bg{background-size: contain!important;}
	.full-screen h1 {
   
    margin: 0 10px!important;
    font-size: 14px!important;}
}